.box1,
.box2{
    background-color: black;
    color: white;
    margin: 20px;
    border-style: solid;
    border-color: tomato;
    padding: 30px;
    display: inline-block;
    border-radius: 30px;
    margin-right: 120px;
    font-size: 30px;
    margin-top: 50px;
}
.box2{
    position: relative;
    left: 70px;
}
.box{
    background-color: black;
    color: white;
    margin: 20px;
    border-style: solid;
    border-color: tomato;
    padding: 30px;
    display: inline-block;
    border-radius: 30px;
    margin-left: -160px;
    font-size: 30px;
}
.menu{
    background-color: black;
    color: white;
    border-style: solid;
    border-color: tomato;
    padding: 30px 190px 30px 190px;
    display: inline-block;
    border-radius: 30px;
    font-size: 30px;   
    position: relative;
    top: -150px;
}
body{
    border-style: solid;
    border-color:aqua;
    border-width: 5px;
    margin: 0px;
    background-image: url('https://media.istockphoto.com/photos/abstract-blue-background-blue-paper-in-pastel-colours-bright-halftone-picture-id1061222280?b=1&k=20&m=1061222280&s=170667a&w=0&h=1MT-qczVVXrdp20XbTip0nfbYZyXoMIFEuHQmJONDmU=');
}
.flex-container{
    display: flex;
    justify-content: space-evenly;
}
.flex-items{
    background-color: aquamarine ;
    margin: 2px;
    padding: 0px 50px 0px 50px;
    border-radius: 30px;
    border-color: green;
    border-style: solid;
}
#first{
    margin-top: 50px;
}
.circle{
    background-color: aquamarine;
    padding: 50px;
    display: inline-block;
    border-radius: 48%;
    border-width: 2px;
    border-style: solid;
    margin-left: 20px;
    position: relative;
    top: 200px;
}
p{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.forms{
    position: relative;
    left: 700px;
    bottom: 250px;
    border-width: 3px;
    border-style: dashed;
    border-color: red;
    height: 510px;
    width: 300px;
    background-color: white;
    text-align: center;
    color: tomato;
}
input{
    margin-bottom: 10px;
}